@font-face {
  font-family: Roobert;
  src: url("../fonts/Roobert-Regular.woff2");
}
@font-face {
  font-family: Neotriad;
  src: url("../fonts/Neotriad.woff2");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roobert", sans-serif;
  font-size: 1.1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

html,
body {
  width: 100%;
  height: 100%;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
}

.floating {
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 0px;
  margin-top: 0px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
.header {
  position: fixed;
  color: #fff;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.4rem;
}
.header .logo {
  font-family: Neotriad;
  font-size: 2rem;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.header .header__btn.menu {
  background-color: #f46928;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
}

@media (min-width: 1080px) {
  .header {
    padding: 0 4rem;
  }
}
.pHome {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #dadada;
}
.pHome .sHero {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 1erm;
}
.pHome .sHero .part {
  width: 100%;
  padding: 0 1.5rem;
}
.pHome .sHero .part.top {
  margin-top: 5rem;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pHome .sHero .part.top .hero__img {
  position: absolute;
  width: 45vw;
  height: -moz-max-content;
  height: max-content;
}
.pHome .sHero .part.top .hero__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.pHome .sHero .part.top .hero__img .overlay {
  position: absolute;
  z-index: 11;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.pHome .sHero .part.top .txt__box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.pHome .sHero .part.top .txt__box .main__heading {
  font-family: Neotriad;
  font-size: 30vw;
  text-align: center;
  line-height: 20vw;
}
.pHome .sHero .part.bottom {
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.pHome .sHero .part.bottom .heading {
  font-size: 13vw;
  line-height: 12vw;
  text-transform: uppercase;
  font-weight: bold;
}
.pHome .sHero .part.bottom .rp .para {
  margin: 1rem 0;
  line-height: 1rem;
}
.pHome .sHero .part.bottom .rp .cta {
  background-color: #f46928;
  padding: 0.5rem 1rem;
  width: 100%;
}

@media (min-width: 1080px) {
  .pHome .sHero .part {
    padding: 0 4rem;
  }
  .pHome .sHero .part.top {
    height: 70%;
  }
  .pHome .sHero .part.top .hero__img {
    width: 25vw;
    margin-top: 5rem;
  }
  .pHome .sHero .part.top .txt__box {
    align-items: center;
  }
  .pHome .sHero .part.bottom {
    height: 30%;
    padding-bottom: 3rem;
    flex-direction: row;
    justify-content: space-between;
  }
  .pHome .sHero .part.bottom .heading {
    font-size: 7vw;
    line-height: 6vw;
    width: 50%;
  }
  .pHome .sHero .part.bottom .rp {
    margin-right: 10%;
  }
  .pHome .sHero .part.bottom .rp .para {
    line-height: 1rem;
    width: 20rem;
  }
  .pHome .sHero .part.bottom .rp .cta {
    width: 20rem;
  }
}
.orange__text {
  color: #f46928;
}

span {
  font-family: inherit;
  display: inline-block;
  font-size: inherit;
}/*# sourceMappingURL=main.css.map */